{{> head }}
{{> navbar }}


<div class="row">
    <div class="col-8">
<h1>Mi vestimenta del fin del mundo :P</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet quaerat qui labore eligendi odit voluptatem quasi tempore voluptatibus eos. Voluptates dolor praesentium eum officia quae dolore repellendus doloremque nobis reprehenderit.</p>
    </div>
    <div class="col-4">
        <img src="assets/img/babc207fded3c3471bbe12dca296a940.jpg" class="img-thumbnail">
    </div>
</div>






{{> footer }}